@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.bg {
  @apply bg-bg-500;
}
.textGreen {
  @apply text-greenish-500;
}

.clip-triangle {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 60%, 71% 0);
}
